{% extends 'base.html.twig' %}

{% block title %}Hello PrincipalController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/max77/Desktop/Cours/3ème année/TP-Symfony/tp-symfony/src/Controller/PrincipalController.php'|file_link(0) }}">src/Controller/PrincipalController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/max77/Desktop/Cours/3ème année/TP-Symfony/tp-symfony/templates/principal/index.html.twig'|file_link(0) }}">templates/principal/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
